.git
.craft
**/.craft
**/bin
**/obj
build
desktop/dist
desktop/node_modules
desktop/src/bundled-plugins/*/dist
desktop/resources/plugins/dotcraft-bundled/plugins/*/desktop/dist
docs/.vitepress/cache
docs/.vitepress/dist
docs/node_modules
sdk/typescript/node_modules
sdk/typescript/packages/*/dist
*.log
